<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>

	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>

	<h1>Welcome to the Easy Review Administration Home Page</h1>
	<p th:text="${'Nice to see you again ' + session.user.username }"></p>



	<form action="CreationPage" method="GET">
		<input type="submit" value="Go to Creation Page">
	</form>


	<form action="InspectionPage" method="GET">
		<input type="submit" value="Go to Inspection Page">
	</form>



	<form action="DeletionPage" method="GET">
		<input type="submit" value="Go to Deletion Page">
	</form>


</body>
</html>